* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #338eef;
  height: 100vh;
}
h1 {
  text-align: center;
  color: white;
  font-family: 'Poppins',sans-serif;
  font-size: 3rem;
  margin-top: 5rem;
}
#new-task {
  position: relative;
  padding: 30px 20px;
}
#new-task input {
  width: 75%;
  height: 45px;
  font-family: 'Poppins',sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
}
#task {
  background-color: #ffffff;
  padding: 30px 20px;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  position: relative;
}
.tasks {
  background-color: #c5e1e6;
  height: 50px;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #939697;
  cursor: pointer;
}
.delete {
  background-color: red;
  color: #ffffff;
  height: 100%;
  width: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: 6px;
} 
.edit {
  background-color: rgb(1, 198, 106);
  color: #ffffff;
  height: 100%;
  width: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: auto;
}
.line {
  text-decoration: line-through;
}

.containerU {
  width: 40%;
  min-width: 450px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 10px;
}
#btn {
  position: relative;
  float: right;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #0d75ec;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
#task-names {
  font-family: 'Poppins',sans-serif;
  font-size: 15px;
  font-weight: 400;
}